


# Ignore all node_modules
node_modules/*

# Compiled JS
public/bundle.js
public/bundle.js.map

# OSX
.DS_Store

tests

secret.js

db.config.js

public/dist

bundle.js

bundle.js.map

SearchBar.js/*
client/components/SearchBar.js
favicon.ico
