body {
  font-family: sans-serif;
  background-color: #080c0e;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.auth {
  background-color: aliceblue;
  display: flex;
}

.logout {
  color: aliceblue;
}

.MuiButton-label {
  color: aliceblue;
}

.msg {
  background-color: azure;
  color: black;
}
