body {
  font-family: sans-serif;
  background-color: #494949;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.loginPage {
  background-color: #494949;
}

.auth {
  background-color: aliceblue;
  display: flex;
}

.logout {
  color: black;
  background-color: black;
}

.MuiButton-label {
  color: black;
}

.MuiIconButton-label {
  color: #080c0e;
}

.MuiGrid-root {
  background-color: #494949;
}

.msg {
  background-color: #494949;
  color: black;
}

h3 {
  color: white;
}
